@import '../../variables.css';

.header {
  background: var(--color-accent-gradient);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: var(--page-breakpoint-desktop);
}

.nav {
  align-items: flex-end;
  display: flex;
  height: 4rem;
}


.link,
.link:visited,
.link:active {
  align-items: flex-end;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 100%;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.active,
.link:hover,
.link:active {
  background-color: #fff;
  color: var(--color-accent-dark);
  text-decoration: none;
}

.logo {
  composes: link;
  font-size: 1.25rem;
  height: 4rem;
  margin-left: -1.5rem;
}

@media screen and (max-width: 62rem) {
  .wrapper {
    margin-left: 1rem;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
}

@media screen and (max-width: 48rem) {
  .header {
    position: static;
  }
  .nav {
    align-items: normal;
    background: var(--color-accent-gradient);
    bottom: 0;
    justify-content: center;
    left: 0;
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom);
    position: fixed;
    right: 0;
    width: 100%;
  }

  .link {
    align-items: center;
    flex: 1;
    justify-content: center;
  }

  .link:hover {
    background-color: transparent;
    color: #fff;
  }

  .logo {
    /* align-items: flex-start; */
    justify-content: flex-start;
    margin: 0;
    padding-left: 1rem;
  }
}
