@import '../../variables.css';

.Heading {
  padding-bottom: 1rem;
}

.bordered {
  border-bottom: var(--one-px) solid var(--color-accent-muted);
  composes: Heading;
}

.title {
  margin-bottom: 0.25rem;
}

.sub {
  color: var(--color-text-muted);
}
