@import '../variables.css';

/* Source Sans Pro Extra Light */
@font-face {
  font-family: 'SourceSansPro@2x';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
       url('../assets/fonts/source-sans-pro-v11-latin-200.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v11-latin-200.woff') format('woff');
}

/* Source Sans Pro Normal */
@font-face {
  font-family: 'SourceSansPro@2x';
  font-style: bold;
  font-weight: 800;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../assets/fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v11-latin-regular.woff') format('woff');
}

/* Source Sans Pro Normal */
@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../assets/fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v11-latin-regular.woff') format('woff');
}

/* Source Sans Pro Semibold */
@font-face {
  font-family: 'SourceSansPro';
  font-style: bold;
  font-weight: 800;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('../assets/fonts/source-sans-pro-v11-latin-600.woff2') format('woff2'),
       url('../assets/fonts/source-sans-pro-v11-latin-600.woff') format('woff');
}

html {
  font-family: var(--font-family-normal);
}

@media (--webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  html {
    font-family: var(--font-family-retina);
  }
}

p {
  line-height: 1.4rem;
}

a {
  color: var(--color-accent-dark);
  text-decoration: none;
}

a:visited {
  color: var(--color-accent-light);
}

a:active,
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.25rem;
  margin: 1rem 0;
  font-weight: normal;
}

h2 {
  font-size: 1.875rem;
  margin: 1rem 0;
  font-weight: normal;

}

h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: normal;
}

h4 {
  font-size: 1.125rem;
  margin: 1rem 0;
}

h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

h6 {
  font-size: .75rem;
  margin: 1rem 0;
}

.pageHeading {
  font-weight: normal;
  margin: 0 0 0.5rem 0;
}

.subHeading {
  color: var(--color-text-muted);
  margin-bottom: 1rem;
}
