@import '../variables.css';

.main {
  margin: 5rem auto 0;
  max-width: var(--page-breakpoint-desktop);
}

@media screen and (max-width: 62rem) {
  .main {
    margin: 5rem 1rem 0;
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }
}

@media screen and (max-width: 48rem) {
  .main {
    margin: 0 1rem 4rem;
    margin-bottom: calc(4rem + env(safe-area-inset-bottom));
  }
}
